%h1 OpenEyeYoga: Register New Student
%form{:action => "/pass", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %br
    %label{:for => "email"} Email:
    %input{:type => "text", :name => "email", :class => "text"}
    %br
    =partial :pass_type
    %br
    %input{:id => "intro_radio", :type => "radio", :name => "pass_type", :class => "radio", :value => "intro"}Two week intro
    %br
  %input{:type => "submit", :value => "Send", :class => "button"}

