%h1 OpenEyeYoga: Register New Student
%form{:action => "/pass", :method => "post"}
  %fieldset
    %label{:for => "name"} Name:
    %input{:type => "text", :name => "name", :class => "text"}
    %br
    %label{:for => "email"} Email:
    %input{:type => "text", :name => "email", :class => "text"}
    %br
    %label{:for => "pass_type"}
      %strong Select pass type:
    %br
    %input{:id => "monthly_radio", :type => "radio", :name => "pass_type", :class => "radio", :value => "Monthly Unlimited"}Monthly Unlimited
    %br
    %input{:id => "class_package_radio", :type => "radio", :name => "pass_type", :class => "radio", :value => "Class package"}Class package
    %br
    %div{:id => "monthly_select", :style => "display:none"}
      %label{:for => "qty"} Select number of months:
      %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "1"} 1
      %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "3"} 3
      %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "6"} 6
    %br
    %div{:style => "display:none", :id => "class_package_select"}
      %label{:for => "qty"} Select class quantity:
      %input{:type => "radio", :name => "class_qty", :class => "radio", :value => 5} 5
      %input{:type => "radio", :name => "class_qty", :class => "radio", :value => "10"} 10
    %br
  %input{:type => "submit", :value => "Send", :class => "button"}

