%label{:for => "pass_type"}
  %strong Select pass type:
%br
%input{:id => "monthly_radio", :type => "radio", :name => "pass_type", :class => "monthly_radio", :value => "monthly"}Monthly Unlimited
%br
%input{:id => "monthly_student_radio", :type => "radio", :name => "pass_type", :class => "monthly_radio", :value => "monthly_student"}Monthly Unlimited (Student)
%br
%input{:id => "class_package_radio", :type => "radio", :name => "pass_type", :class => "class_package_radio", :value => "class_package"}Class package
%br
%input{:id => "class_package_student_radio", :type => "radio", :name => "pass_type", :class => "class_package_radio", :value => "class_package_student"}Class package (Student)
%div{:id => "monthly_select", :style => "display:none"}
  %label{:for => "qty"} Select number of months:
  %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "1"} 1
  %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "3"} 3
  %input{:type => "radio", :name => "month_qty", :class => "radio", :value => "6"} 6
%div{:style => "display:none", :id => "class_package_select"}
  %label{:for => "qty"} Select class quantity:
  %input{:type => "radio", :name => "class_qty", :class => "radio", :value => 1} 1
  %input{:type => "radio", :name => "class_qty", :class => "radio", :value => 5} 5
  %input{:type => "radio", :name => "class_qty", :class => "radio", :value => "10"} 10
