%table
  - @students.each do |s|
    %tr
      %th Name
      %th Email
      %th Remaining
      %th Expiry
    %tr
      %td= s.name
      %td= s.email
      %td= s.remaining_classes
      %td= s.pass_expiry
